.about{
    padding: 80px 0;
    text-align: center;
    min-height: 55vh;
    
    .about-content{
        max-width: 800px;
        margin: 0 auto;

        h2{
            font-size: 52px;
            color: #00b4d8;
            margin-bottom: 20px;
        }
        p{
            font-size: 26px;
            color: #333;
            line-height: 1.6;
        }
        
    }
   
    
}